<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

{{>layouts/header}}

<div class="container mt-3">
    <h1>게시판 수정하기</h1>
    <div class="card">
        <div class="card-header"> 게시판 수정하기</div>
        <div class="card-body">

        {{#article}}
            <!-- Form데이터 전송. action:어디로? method:어떻게? -->
            <!-- form태그는 get/post만 지원한다. -> ajax로 개선            -->
            <form action="/articles/edit" method="post">
                <input type="hidden" id="id" name="id" value="{{id}}">

                <div class="form-group">
                    <label for="title">제 목</label>
                    <!-- name : DTO의 필드명과 일치! -->
                    <input type="text" class="form-control" id="title" name="title" value="{{title}}">
                </div>

                <br>

                <div class="form-group">
                    <label for="content">내 용</label>
                    <!-- name : DTO의 필드명과 일치! -->
                    <textarea class="form-control" rows="5" id="content" name="content">{{content}}</textarea>
                </div>

                <br>

                <button type="submit" class="btn btn-primary btn-sm">수정하기</button>
                <button type="button" class="btn btn-success btn-sm" onclick="location.href='/articles/{{id}}' ">뒤로가기</button>
            </form>
        {{/article}}

        </div>
        <div class="card-footer">ainokks071@gmail.com</div>
    </div>
</div>

</body>
</html>
