<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

{{>layouts/header}}

<div class="container">
    <h2>Basic Table</h2>
    <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
    <table class="table">

        <thead>
        <tr>
            <th>Num</th>
            <th>Title</th>
            <th>Content</th>
        </tr>
        </thead>
        <tbody>
        <!--반복문-->
        {{#articles}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/articles/{{id}}">{{title}}</a></td>
                <td>{{content}}</td>
            </tr>
        {{/articles}}
        </tbody>
    </table>

    <a href="/articles/new">글쓰기</a>

</div>




{{>layouts/footer}}

</body>
</html>
